.DraftEditor-root {
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 3px;
  background-color: $offwhite;
}

.rdw-image-modal {
  left: -6px;
}

// .rdw-image-imagewrapper {
//   width: 800px;
//   height: 350px;
 
// }

.rdw-emoji-modal {
  left: -188px;
}

.rdw-embedded-modal {
  left: -140px;
}